<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>length</key>
	<real>1024</real>
	<key>objects</key>
	<array>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>222.7867431640625</real>
			<key>y</key>
			<real>34.411830902099609</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>405.29159545898438</real>
			<key>y</key>
			<real>34.750827789306641</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>604.74517822265625</real>
			<key>y</key>
			<real>33.979644775390625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>786.8062744140625</real>
			<key>y</key>
			<real>36.125732421875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>67.25</real>
			<key>y</key>
			<real>34</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>181.5</real>
			<key>y</key>
			<real>189.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-1.5700551271438599</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>528</real>
			<key>y</key>
			<real>235.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>135</real>
			<key>y</key>
			<real>474.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>226.5</real>
			<key>y</key>
			<real>474</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>180</real>
			<key>y</key>
			<real>419</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>181</real>
			<key>y</key>
			<real>530</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>135</real>
			<key>y</key>
			<real>165</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>226.5</real>
			<key>y</key>
			<real>165</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>181</real>
			<key>y</key>
			<real>138.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>155</real>
			<key>y</key>
			<real>394</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>204.5</real>
			<key>y</key>
			<real>394</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>136.5</real>
			<key>y</key>
			<real>586</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>226.5</real>
			<key>y</key>
			<real>586</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>181.8076171875</real>
			<key>y</key>
			<real>640.8377685546875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>156</real>
			<key>y</key>
			<real>214.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>205</real>
			<key>y</key>
			<real>214.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-1.565771222114563</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>136.5576171875</real>
			<key>y</key>
			<real>696.8377685546875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7115778923034668</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>226.8076171875</real>
			<key>y</key>
			<real>697.0877685546875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>182.3076171875</real>
			<key>y</key>
			<real>751.5877685546875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>2</real>
			<key>x</key>
			<real>389.03872680664062</real>
			<key>y</key>
			<real>250.62165832519531</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>750.5</real>
			<key>y</key>
			<real>209</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>528.5</real>
			<key>y</key>
			<real>370</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>529.5</real>
			<key>y</key>
			<real>303</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>178.95956420898438</real>
			<key>y</key>
			<real>300.830810546875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>750.5404052734375</real>
			<key>y</key>
			<real>313.86737060546875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>388.46942138671875</real>
			<key>y</key>
			<real>301.60574340820312</real>
		</dict>
	</array>
</dict>
</plist>
