<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>length</key>
	<real>1024</real>
	<key>objects</key>
	<array>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>490</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>810</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>290</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>650</real>
			<key>y</key>
			<real>90</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>80</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>52.896240234375</real>
			<key>y</key>
			<real>397.87271118164062</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>154.646240234375</real>
			<key>y</key>
			<real>397.87271118164062</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>255.896240234375</real>
			<key>y</key>
			<real>397.62271118164062</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>357.64620971679688</real>
			<key>y</key>
			<real>397.62271118164062</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>459.38204956054688</real>
			<key>y</key>
			<real>397.064697265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>561.32427978515625</real>
			<key>y</key>
			<real>396.84466552734375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>663.07427978515625</real>
			<key>y</key>
			<real>396.84466552734375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>764.9718017578125</real>
			<key>y</key>
			<real>396.84466552734375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>866.4718017578125</real>
			<key>y</key>
			<real>396.59466552734375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>967.891357421875</real>
			<key>y</key>
			<real>396.518798828125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>22.864013671875</real>
			<key>y</key>
			<real>373.064697265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>64.114013671875</real>
			<key>y</key>
			<real>372.564697265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>105.614013671875</real>
			<key>y</key>
			<real>372.814697265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>147.614013671875</real>
			<key>y</key>
			<real>372.814697265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>188.864013671875</real>
			<key>y</key>
			<real>372.814697265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>230.614013671875</real>
			<key>y</key>
			<real>372.564697265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>272.364013671875</real>
			<key>y</key>
			<real>372.814697265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>313.614013671875</real>
			<key>y</key>
			<real>372.814697265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>355.114013671875</real>
			<key>y</key>
			<real>372.564697265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>395.864013671875</real>
			<key>y</key>
			<real>372.814697265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>436.63204956054688</real>
			<key>y</key>
			<real>372.564697265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>477.88204956054688</real>
			<key>y</key>
			<real>372.314697265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>519.882080078125</real>
			<key>y</key>
			<real>371.814697265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>561.132080078125</real>
			<key>y</key>
			<real>372.314697265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>602.132080078125</real>
			<key>y</key>
			<real>371.564697265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>643.382080078125</real>
			<key>y</key>
			<real>371.564697265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>684.632080078125</real>
			<key>y</key>
			<real>372.064697265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>725.632080078125</real>
			<key>y</key>
			<real>372.314697265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>766.382080078125</real>
			<key>y</key>
			<real>371.814697265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>807.382080078125</real>
			<key>y</key>
			<real>371.814697265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>847.882080078125</real>
			<key>y</key>
			<real>371.564697265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>889.132080078125</real>
			<key>y</key>
			<real>371.814697265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>930.882080078125</real>
			<key>y</key>
			<real>372.314697265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>972.632080078125</real>
			<key>y</key>
			<real>371.564697265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>997.9727783203125</real>
			<key>y</key>
			<real>370.85366821289062</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>1006.2410278320312</real>
			<key>y</key>
			<real>370.60311889648438</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>1014.50927734375</real>
			<key>y</key>
			<real>370.85366821289062</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>23.103427886962891</real>
			<key>y</key>
			<real>422.96878051757812</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>64.194183349609375</real>
			<key>y</key>
			<real>423.46987915039062</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>105.53549957275391</real>
			<key>y</key>
			<real>423.46987915039062</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>146.62625122070312</real>
			<key>y</key>
			<real>423.46987915039062</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>187.71701049804688</real>
			<key>y</key>
			<real>423.21932983398438</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>229.05831909179688</real>
			<key>y</key>
			<real>423.21932983398438</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>270.39962768554688</real>
			<key>y</key>
			<real>422.857666015625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>311.74093627929688</real>
			<key>y</key>
			<real>422.857666015625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>353.08224487304688</real>
			<key>y</key>
			<real>422.60708618164062</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>393.67190551757812</real>
			<key>y</key>
			<real>423.10821533203125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>435.26376342773438</real>
			<key>y</key>
			<real>422.60708618164062</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>476.10394287109375</real>
			<key>y</key>
			<real>423.25375366210938</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>517.44525146484375</real>
			<key>y</key>
			<real>422.50210571289062</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>558.67889404296875</real>
			<key>y</key>
			<real>422.50210571289062</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>599.51910400390625</real>
			<key>y</key>
			<real>422.25155639648438</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>640.60986328125</real>
			<key>y</key>
			<real>421.75042724609375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>681.951171875</real>
			<key>y</key>
			<real>421.4998779296875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>722.7913818359375</real>
			<key>y</key>
			<real>422.0009765625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>763.63153076171875</real>
			<key>y</key>
			<real>422.0009765625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>804.47174072265625</real>
			<key>y</key>
			<real>422.0009765625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>845.81304931640625</real>
			<key>y</key>
			<real>421.75042724609375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>887.1544189453125</real>
			<key>y</key>
			<real>421.75042724609375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>928.24517822265625</real>
			<key>y</key>
			<real>422.00100708007812</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>969.08538818359375</real>
			<key>y</key>
			<real>422.25155639648438</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>1014.5750122070312</real>
			<key>y</key>
			<real>422.12469482421875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>53.298458099365234</real>
			<key>y</key>
			<real>447.77359008789062</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>154.75904846191406</real>
			<key>y</key>
			<real>448.02410888671875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>256.47015380859375</real>
			<key>y</key>
			<real>447.77359008789062</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>358.1812744140625</real>
			<key>y</key>
			<real>447.5230712890625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>459.89236450195312</real>
			<key>y</key>
			<real>447.27255249023438</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>561.35296630859375</real>
			<key>y</key>
			<real>447.27255249023438</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>662.81353759765625</real>
			<key>y</key>
			<real>446.77151489257812</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>764.02362060546875</real>
			<key>y</key>
			<real>447.02203369140625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>865.65679931640625</real>
			<key>y</key>
			<real>446.41006469726562</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>967.6962890625</real>
			<key>y</key>
			<real>446.77151489257812</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>2</real>
			<key>x</key>
			<real>999.84283447265625</real>
			<key>y</key>
			<real>431.06866455078125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>2</real>
			<key>x</key>
			<real>999.59228515625</real>
			<key>y</key>
			<real>410.52603149414062</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>488</real>
			<key>y</key>
			<real>211</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>53.735836029052734</real>
			<key>y</key>
			<real>457.67608642578125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>7.8705792427062988</real>
			<key>y</key>
			<real>513.5665283203125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>54.237094879150391</real>
			<key>y</key>
			<real>568.4544677734375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>99.3504638671875</real>
			<key>y</key>
			<real>513.5665283203125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>117.89706420898438</real>
			<key>y</key>
			<real>504.0426025390625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-0.0041278996504843235</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>163.7623291015625</real>
			<key>y</key>
			<real>559.43182373046875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>230.68048095703125</real>
			<key>y</key>
			<real>503.79196166992188</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>277.0469970703125</real>
			<key>y</key>
			<real>558.679931640625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>359.0029296875</real>
			<key>y</key>
			<real>503.18209838867188</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.9269907474517822</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>393.58984375</real>
			<key>y</key>
			<real>514.46044921875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.3561944961547852</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>399.60494995117188</real>
			<key>y</key>
			<real>488.64553833007812</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.3561944961547852</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>418.40219116210938</real>
			<key>y</key>
			<real>469.59768676757812</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>473.29013061523438</real>
			<key>y</key>
			<real>504.18460083007812</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>474.54327392578125</real>
			<key>y</key>
			<real>456.31430053710938</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>474.61285400390625</real>
			<key>y</key>
			<real>550.0289306640625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>514.11285400390625</real>
			<key>y</key>
			<real>503.5289306640625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>540.11285400390625</real>
			<key>y</key>
			<real>457.0289306640625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>589.61285400390625</real>
			<key>y</key>
			<real>504.0289306640625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>591.61285400390625</real>
			<key>y</key>
			<real>549.5289306640625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>660.36285400390625</real>
			<key>y</key>
			<real>504.11764526367188</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>143.84649658203125</real>
			<key>y</key>
			<real>507.2147216796875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>257.09649658203125</real>
			<key>y</key>
			<real>506.2147216796875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>706.5902099609375</real>
			<key>y</key>
			<real>549.7994384765625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>686.3402099609375</real>
			<key>y</key>
			<real>502.7994384765625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>707.8402099609375</real>
			<key>y</key>
			<real>457.0494384765625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>774.43646240234375</real>
			<key>y</key>
			<real>502.62628173828125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>820.9329833984375</real>
			<key>y</key>
			<real>548.31060791015625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>866.6988525390625</real>
			<key>y</key>
			<real>523.08740234375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>821.5953369140625</real>
			<key>y</key>
			<real>498.402587890625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.6460404396057129</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>816.3079833984375</real>
			<key>y</key>
			<real>474.90313720703125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>54.6380615234375</real>
			<key>y</key>
			<real>514.70166015625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>490</real>
			<key>y</key>
			<real>150</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>650</real>
			<key>y</key>
			<real>200</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>810</real>
			<key>y</key>
			<real>270</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>290</real>
			<key>y</key>
			<real>220</real>
		</dict>
	</array>
</dict>
</plist>
