<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>length</key>
	<real>1536</real>
	<key>objects</key>
	<array>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>442.5</real>
			<key>y</key>
			<real>282</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>706.28997802734375</real>
			<key>y</key>
			<real>487</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-0.099643103778362274</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1.4289630651473999</real>
			<key>x</key>
			<real>868.9595947265625</real>
			<key>y</key>
			<real>389.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>1328</real>
			<key>y</key>
			<real>148</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>80</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>355</real>
			<key>y</key>
			<real>50.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>355.5</real>
			<key>y</key>
			<real>152.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>385</real>
			<key>y</key>
			<real>51</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>385.5</real>
			<key>y</key>
			<real>151.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>371.5</real>
			<key>y</key>
			<real>223</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>442</real>
			<key>y</key>
			<real>237.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>442</real>
			<key>y</key>
			<real>207</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>498</real>
			<key>y</key>
			<real>151.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>527</real>
			<key>y</key>
			<real>151.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>513</real>
			<key>y</key>
			<real>222</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>498</real>
			<key>y</key>
			<real>51</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>527</real>
			<key>y</key>
			<real>49.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>621</real>
			<key>y</key>
			<real>48.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>621.5</real>
			<key>y</key>
			<real>148.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>621.7208251953125</real>
			<key>y</key>
			<real>249.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>622.2208251953125</real>
			<key>y</key>
			<real>349</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>652.7208251953125</real>
			<key>y</key>
			<real>349</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>652.7208251953125</real>
			<key>y</key>
			<real>248</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>652.7208251953125</real>
			<key>y</key>
			<real>146.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>652.2960205078125</real>
			<key>y</key>
			<real>45</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>638.2960205078125</real>
			<key>y</key>
			<real>420</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>708.7960205078125</real>
			<key>y</key>
			<real>435</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>708.2960205078125</real>
			<key>y</key>
			<real>403</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>763.78912353515625</real>
			<key>y</key>
			<real>349.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>793</real>
			<key>y</key>
			<real>349.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>778.5</real>
			<key>y</key>
			<real>420.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>764</real>
			<key>y</key>
			<real>249</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>793</real>
			<key>y</key>
			<real>247.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>762.5</real>
			<key>y</key>
			<real>147</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>792.80059814453125</real>
			<key>y</key>
			<real>146</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>762.28997802734375</real>
			<key>y</key>
			<real>45.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>792.28997802734375</real>
			<key>y</key>
			<real>44</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-0.78539818525314331</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>825.476318359375</real>
			<key>y</key>
			<real>228.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.78539818525314331</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>864.119873046875</real>
			<key>y</key>
			<real>288.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.78539818525314331</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>886.119873046875</real>
			<key>y</key>
			<real>267</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.80690997838973999</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>924.619873046875</real>
			<key>y</key>
			<real>327.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.3561944961547852</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>864.619873046875</real>
			<key>y</key>
			<real>168.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.3561944961547852</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>885.119873046875</real>
			<key>y</key>
			<real>189.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.3561944961547852</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>935.5</real>
			<key>y</key>
			<real>96</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.3561944961547852</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>956</real>
			<key>y</key>
			<real>119</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.4945454597473145</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1011</real>
			<key>y</key>
			<real>30</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.5298655033111572</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1032.0924072265625</real>
			<key>y</key>
			<real>52.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-0.22679878771305084</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1122.0924072265625</real>
			<key>y</key>
			<real>12</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-0.10711526870727539</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1200.72802734375</real>
			<key>y</key>
			<real>10</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-0.78539818525314331</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>964.2637939453125</real>
			<key>y</key>
			<real>267.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-0.78539818525314331</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>984.9595947265625</real>
			<key>y</key>
			<real>289</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-0.91705232858657837</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1029</real>
			<key>y</key>
			<real>193</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-1.0924438238143921</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1045</real>
			<key>y</key>
			<real>208</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-1.2894037961959839</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1073.5</real>
			<key>y</key>
			<real>104.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-1.2969541549682617</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1082.5</real>
			<key>y</key>
			<real>114.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-0.3217504620552063</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1132.5</real>
			<key>y</key>
			<real>38</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-0.34587445855140686</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1142.5</real>
			<key>y</key>
			<real>48</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1355</real>
			<key>y</key>
			<real>102</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1355.5</real>
			<key>y</key>
			<real>72.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>1284.5</real>
			<key>y</key>
			<real>87</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1270</real>
			<key>y</key>
			<real>17</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1299</real>
			<key>y</key>
			<real>17.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>246.5</real>
			<key>y</key>
			<real>99.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>440</real>
			<key>y</key>
			<real>440</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>710</real>
			<key>y</key>
			<real>670</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>1150</real>
			<key>y</key>
			<real>680</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>1410</real>
			<key>y</key>
			<real>320</real>
		</dict>
	</array>
</dict>
</plist>
