<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>length</key>
	<real>1024</real>
	<key>objects</key>
	<array>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>249</real>
			<key>y</key>
			<real>169</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>659.065673828125</real>
			<key>y</key>
			<real>172.77764892578125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>75.5023193359375</real>
			<key>y</key>
			<real>38.343326568603516</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>249.74983215332031</real>
			<key>y</key>
			<real>122.2515869140625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>220.50212097167969</real>
			<key>y</key>
			<real>97.749824523925781</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>278.49893188476562</real>
			<key>y</key>
			<real>98.248764038085938</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>248.49896240234375</real>
			<key>y</key>
			<real>73.502464294433594</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>450</real>
			<key>y</key>
			<real>50</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>450</real>
			<key>y</key>
			<real>150</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>450</real>
			<key>y</key>
			<real>250</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>450</real>
			<key>y</key>
			<real>430</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>450</real>
			<key>y</key>
			<real>530</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>450</real>
			<key>y</key>
			<real>630</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>450</real>
			<key>y</key>
			<real>730</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>621</real>
			<key>y</key>
			<real>100</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>651</real>
			<key>y</key>
			<real>125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>681</real>
			<key>y</key>
			<real>100</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>651</real>
			<key>y</key>
			<real>75.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>450</real>
			<key>y</key>
			<real>340</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>248.32861328125</real>
			<key>y</key>
			<real>272.8148193359375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>660.51025390625</real>
			<key>y</key>
			<real>276.72381591796875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>886.36322021484375</real>
			<key>y</key>
			<real>347.085693359375</real>
		</dict>
	</array>
</dict>
</plist>
