<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>length</key>
	<real>1536</real>
	<key>objects</key>
	<array>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>651.5</real>
			<key>y</key>
			<real>90</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>1079</real>
			<key>y</key>
			<real>158</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>1265.5</real>
			<key>y</key>
			<real>166</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>70.807464599609375</real>
			<key>y</key>
			<real>76.783760070800781</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>348.5</real>
			<key>y</key>
			<real>324.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>333</real>
			<key>y</key>
			<real>254</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>363.5</real>
			<key>y</key>
			<real>254</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>333</real>
			<key>y</key>
			<real>152.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>333</real>
			<key>y</key>
			<real>51</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>364</real>
			<key>y</key>
			<real>152</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>363.5</real>
			<key>y</key>
			<real>50.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>389</real>
			<key>y</key>
			<real>285</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>374</real>
			<key>y</key>
			<real>215.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>402.5</real>
			<key>y</key>
			<real>214</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>373.5</real>
			<key>y</key>
			<real>115</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>403.5</real>
			<key>y</key>
			<real>112</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>374.5</real>
			<key>y</key>
			<real>13</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>403</real>
			<key>y</key>
			<real>12</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>429</real>
			<key>y</key>
			<real>245.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>414</real>
			<key>y</key>
			<real>175</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>414</real>
			<key>y</key>
			<real>73.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>444</real>
			<key>y</key>
			<real>174.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>444</real>
			<key>y</key>
			<real>74</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>412.5</real>
			<key>y</key>
			<real>6.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>444</real>
			<key>y</key>
			<real>8</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>470.5</real>
			<key>y</key>
			<real>204.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>455.5</real>
			<key>y</key>
			<real>134</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>485</real>
			<key>y</key>
			<real>134</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>455.5</real>
			<key>y</key>
			<real>33</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>484.5</real>
			<key>y</key>
			<real>32</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>510.5</real>
			<key>y</key>
			<real>164.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>495.5</real>
			<key>y</key>
			<real>93</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>526</real>
			<key>y</key>
			<real>93</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>510.65896606445312</real>
			<key>y</key>
			<real>22</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>581.658935546875</real>
			<key>y</key>
			<real>8</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>582.03289794921875</real>
			<key>y</key>
			<real>37</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>652.03289794921875</real>
			<key>y</key>
			<real>22</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>723.03289794921875</real>
			<key>y</key>
			<real>36.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>724.03289794921875</real>
			<key>y</key>
			<real>8</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>795.03289794921875</real>
			<key>y</key>
			<real>22</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>781.03289794921875</real>
			<key>y</key>
			<real>94.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>810.16485595703125</real>
			<key>y</key>
			<real>95</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>795.16485595703125</real>
			<key>y</key>
			<real>165.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-1.5625319480895996</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>820.16485595703125</real>
			<key>y</key>
			<real>134</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>820.16485595703125</real>
			<key>y</key>
			<real>32</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>835.16485595703125</real>
			<key>y</key>
			<real>205</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>850.16485595703125</real>
			<key>y</key>
			<real>134.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>850.654052734375</real>
			<key>y</key>
			<real>31.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>874.654052734375</real>
			<key>y</key>
			<real>245</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>860.654052734375</real>
			<key>y</key>
			<real>174</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>860.654052734375</real>
			<key>y</key>
			<real>72.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>889.154052734375</real>
			<key>y</key>
			<real>175</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>889.654052734375</real>
			<key>y</key>
			<real>73</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>860.654052734375</real>
			<key>y</key>
			<real>9</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>889.654052734375</real>
			<key>y</key>
			<real>8</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>914.154052734375</real>
			<key>y</key>
			<real>285.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>899.654052734375</real>
			<key>y</key>
			<real>214</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>899.654052734375</real>
			<key>y</key>
			<real>112.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>899.654052734375</real>
			<key>y</key>
			<real>12</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>930.154052734375</real>
			<key>y</key>
			<real>216</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>930.154052734375</real>
			<key>y</key>
			<real>114</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>929.654052734375</real>
			<key>y</key>
			<real>12</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>952.654052734375</real>
			<key>y</key>
			<real>325.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>939.5</real>
			<key>y</key>
			<real>254.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>940</real>
			<key>y</key>
			<real>153</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>939.5</real>
			<key>y</key>
			<real>51</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>967.5</real>
			<key>y</key>
			<real>255</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>967.5</real>
			<key>y</key>
			<real>153</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>967.5</real>
			<key>y</key>
			<real>51</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>60.775604248046875</real>
			<key>y</key>
			<real>20.061546325683594</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>101.34421539306641</real>
			<key>y</key>
			<real>20.561546325683594</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>142.12498474121094</real>
			<key>y</key>
			<real>21.965414047241211</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1023</real>
			<key>y</key>
			<real>8</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1060</real>
			<key>y</key>
			<real>41.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1109</real>
			<key>y</key>
			<real>17</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1152.5</real>
			<key>y</key>
			<real>33.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1192</real>
			<key>y</key>
			<real>8</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1229</real>
			<key>y</key>
			<real>51</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>1264</real>
			<key>y</key>
			<real>18.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1305</real>
			<key>y</key>
			<real>19.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1174.5</real>
			<key>y</key>
			<real>379.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.9269907474517822</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>366.1295166015625</real>
			<key>y</key>
			<real>496.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.4392926692962646</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>449.6295166015625</real>
			<key>y</key>
			<real>548</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>549.1295166015625</real>
			<key>y</key>
			<real>561.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>651.1295166015625</real>
			<key>y</key>
			<real>561</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>752.6295166015625</real>
			<key>y</key>
			<real>560.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.3561944961547852</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>927.6295166015625</real>
			<key>y</key>
			<real>485</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.7314653396606445</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>847.6295166015625</real>
			<key>y</key>
			<real>540.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.9269907474517822</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>344.6295166015625</real>
			<key>y</key>
			<real>518.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.4419562816619873</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>437.6295166015625</real>
			<key>y</key>
			<real>577.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>548.6295166015625</real>
			<key>y</key>
			<real>593</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>648.6295166015625</real>
			<key>y</key>
			<real>593</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>750.6295166015625</real>
			<key>y</key>
			<real>593</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.7270858287811279</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>862.1295166015625</real>
			<key>y</key>
			<real>569.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.3561944961547852</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>953.1295166015625</real>
			<key>y</key>
			<real>507</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>2</real>
			<key>x</key>
			<real>386.1295166015625</real>
			<key>y</key>
			<real>556.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>2</real>
			<key>x</key>
			<real>492.1295166015625</real>
			<key>y</key>
			<real>593</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>2</real>
			<key>x</key>
			<real>601.6295166015625</real>
			<key>y</key>
			<real>595.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>2</real>
			<key>x</key>
			<real>701.1295166015625</real>
			<key>y</key>
			<real>596</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>2</real>
			<key>x</key>
			<real>808.6295166015625</real>
			<key>y</key>
			<real>593</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>2</real>
			<key>x</key>
			<real>913.6295166015625</real>
			<key>y</key>
			<real>544.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>2</real>
			<key>x</key>
			<real>402.6295166015625</real>
			<key>y</key>
			<real>530.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>2</real>
			<key>x</key>
			<real>496.6295166015625</real>
			<key>y</key>
			<real>561.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>2</real>
			<key>x</key>
			<real>602.6295166015625</real>
			<key>y</key>
			<real>561</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>2</real>
			<key>x</key>
			<real>702.1295166015625</real>
			<key>y</key>
			<real>559.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>2</real>
			<key>x</key>
			<real>803.1295166015625</real>
			<key>y</key>
			<real>560.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>2</real>
			<key>x</key>
			<real>891.6295166015625</real>
			<key>y</key>
			<real>518</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.3561944961547852</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>322.6295166015625</real>
			<key>y</key>
			<real>473.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.78539818525314331</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>973.6295166015625</real>
			<key>y</key>
			<real>463</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>19.914382934570312</real>
			<key>y</key>
			<real>19.546958923339844</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>69.019783020019531</real>
			<key>y</key>
			<real>534.13751220703125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>191.07267761230469</real>
			<key>y</key>
			<real>534.13751220703125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>285.0380859375</real>
			<key>y</key>
			<real>534.13751220703125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>951.42535400390625</real>
			<key>y</key>
			<real>366.88284301757812</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>1175.531005859375</real>
			<key>y</key>
			<real>298.0543212890625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>649.68121337890625</real>
			<key>y</key>
			<real>427.25570678710938</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>345.7344970703125</real>
			<key>y</key>
			<real>371.09164428710938</real>
		</dict>
	</array>
</dict>
</plist>
