<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>length</key>
	<real>3072</real>
	<key>objects</key>
	<array>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>217.733154296875</real>
			<key>y</key>
			<real>120.10247802734375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-0.27027913928031921</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>793.71014404296875</real>
			<key>y</key>
			<real>160.97579956054688</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>1753.733154296875</real>
			<key>y</key>
			<real>69.237640380859375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>1907.233154296875</real>
			<key>y</key>
			<real>66.71600341796875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>2411.733154296875</real>
			<key>y</key>
			<real>490.21600341796875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>2872.84228515625</real>
			<key>y</key>
			<real>257.47113037109375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>1297.495849609375</real>
			<key>y</key>
			<real>335.820556640625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>67.147468566894531</real>
			<key>y</key>
			<real>34.473419189453125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.5100095272064209</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>969.89288330078125</real>
			<key>y</key>
			<real>207.63273620605469</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>2096.470947265625</real>
			<key>y</key>
			<real>285.41940307617188</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.6991336345672607</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>170</real>
			<key>y</key>
			<real>29.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.6040511131286621</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>255.326904296875</real>
			<key>y</key>
			<real>77.3629150390625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.9753401279449463</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>331.826904296875</real>
			<key>y</key>
			<real>133.8629150390625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.5809535980224609</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>406.80859375</real>
			<key>y</key>
			<real>189.3629150390625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.8616631031036377</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>486.80859375</real>
			<key>y</key>
			<real>240.3629150390625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.1903882026672363</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>545.80859375</real>
			<key>y</key>
			<real>311.8629150390625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.0344438552856445</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>636.3443603515625</real>
			<key>y</key>
			<real>312.4344482421875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.9788920879364014</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>582.3443603515625</real>
			<key>y</key>
			<real>368.4344482421875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.3013045787811279</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>603.8443603515625</real>
			<key>y</key>
			<real>367.4344482421875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.8262141942977905</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>670</real>
			<key>y</key>
			<real>220</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.3241145610809326</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>710.3443603515625</real>
			<key>y</key>
			<real>145.37948608398438</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.9643673896789551</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>793.3443603515625</real>
			<key>y</key>
			<real>106.87948608398438</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.7427005767822266</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>860</real>
			<key>y</key>
			<real>90.826904296875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.3660900592803955</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>896</real>
			<key>y</key>
			<real>88.326904296875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.9314751625061035</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>947.85748291015625</real>
			<key>y</key>
			<real>126.326904296875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.5476922988891602</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1026.7625732421875</real>
			<key>y</key>
			<real>179.4114990234375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.1062030792236328</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1098.4215087890625</real>
			<key>y</key>
			<real>236.9114990234375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.5111789703369141</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1166.995849609375</real>
			<key>y</key>
			<real>292.320556640625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.6762969493865967</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1253.495849609375</real>
			<key>y</key>
			<real>286.820556640625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.5252108573913574</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1334.995849609375</real>
			<key>y</key>
			<real>279.320556640625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.4087774753570557</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1411.2484130859375</real>
			<key>y</key>
			<real>261.39321899414062</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.1751017570495605</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1474.2484130859375</real>
			<key>y</key>
			<real>191.3931884765625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.5990133285522461</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1541.60595703125</real>
			<key>y</key>
			<real>127.8931884765625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.4068944454193115</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1616.10595703125</real>
			<key>y</key>
			<real>72.3931884765625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.7646834850311279</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>1670.403564453125</real>
			<key>y</key>
			<real>32.11468505859375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1738.903564453125</real>
			<key>y</key>
			<real>24.11468505859375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1836.903564453125</real>
			<key>y</key>
			<real>24.11468505859375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1936.403564453125</real>
			<key>y</key>
			<real>23.61468505859375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.5675868988037109</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>2001.3516845703125</real>
			<key>y</key>
			<real>32.376186370849609</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.1152133941650391</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2044.5220947265625</real>
			<key>y</key>
			<real>80.272415161132812</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.9824888706207275</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2103.448486328125</real>
			<key>y</key>
			<real>157.08717346191406</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.1368188858032227</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2160.270263671875</real>
			<key>y</key>
			<real>231.79742431640625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.4218778610229492</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2201.478271484375</real>
			<key>y</key>
			<real>317.9114990234375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.9289553165435791</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2248.478271484375</real>
			<key>y</key>
			<real>397.9114990234375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.5059232711791992</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>2299.11376953125</real>
			<key>y</key>
			<real>439.23553466796875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2366.77978515625</real>
			<key>y</key>
			<real>445.8001708984375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2464.12451171875</real>
			<key>y</key>
			<real>445.9024658203125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-0.54523026943206787</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>2527.482421875</real>
			<key>y</key>
			<real>436.25991821289062</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.8883230686187744</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2621.982421875</real>
			<key>y</key>
			<real>311.25991821289062</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.5222196578979492</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2675.482421875</real>
			<key>y</key>
			<real>237.75991821289062</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.2782669067382812</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2574.9296875</real>
			<key>y</key>
			<real>392.0760498046875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2892.228759765625</real>
			<key>y</key>
			<real>207.42552185058594</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>2824.3154296875</real>
			<key>y</key>
			<real>207.9376220703125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>504.43365478515625</real>
			<key>y</key>
			<real>703.8121337890625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>523.43365478515625</real>
			<key>y</key>
			<real>722.8121337890625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>543.43365478515625</real>
			<key>y</key>
			<real>697.8121337890625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>542.43365478515625</real>
			<key>y</key>
			<real>725.8121337890625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>519.43365478515625</real>
			<key>y</key>
			<real>702.8121337890625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>560.43365478515625</real>
			<key>y</key>
			<real>712.8121337890625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>562.43365478515625</real>
			<key>y</key>
			<real>737.8121337890625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>577.43365478515625</real>
			<key>y</key>
			<real>720.8121337890625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>568.43365478515625</real>
			<key>y</key>
			<real>696.8121337890625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>599.1827392578125</real>
			<key>y</key>
			<real>701.020751953125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>625.164794921875</real>
			<key>y</key>
			<real>699.76861572265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>652.71197509765625</real>
			<key>y</key>
			<real>697.577392578125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>678.3809814453125</real>
			<key>y</key>
			<real>701.33380126953125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>602.00006103515625</real>
			<key>y</key>
			<real>720.42901611328125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>580.0875244140625</real>
			<key>y</key>
			<real>734.82867431640625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>606.69561767578125</real>
			<key>y</key>
			<real>733.2635498046875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>631.738525390625</real>
			<key>y</key>
			<real>724.18548583984375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>660.224853515625</real>
			<key>y</key>
			<real>725.12457275390625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>638.9383544921875</real>
			<key>y</key>
			<real>733.5765380859375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>1240.66064453125</real>
			<key>y</key>
			<real>728.93963623046875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>1261.8172607421875</real>
			<key>y</key>
			<real>724.17938232421875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>1289.3209228515625</real>
			<key>y</key>
			<real>719.41912841796875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>1320.5269775390625</real>
			<key>y</key>
			<real>724.17938232421875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>1350.6751708984375</real>
			<key>y</key>
			<real>725.76611328125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>1378.7076416015625</real>
			<key>y</key>
			<real>725.2371826171875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>1403.037841796875</real>
			<key>y</key>
			<real>728.41070556640625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>1427.8968505859375</real>
			<key>y</key>
			<real>728.93963623046875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>1455.4005126953125</real>
			<key>y</key>
			<real>730.5263671875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>1482.9041748046875</real>
			<key>y</key>
			<real>732.64202880859375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>1260.7593994140625</real>
			<key>y</key>
			<real>741.63360595703125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>1291.4365234375</real>
			<key>y</key>
			<real>742.69146728515625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>1317.88232421875</real>
			<key>y</key>
			<real>749.0384521484375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>1337.981201171875</real>
			<key>y</key>
			<real>746.92279052734375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>1366.013671875</real>
			<key>y</key>
			<real>752.7408447265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>1389.2860107421875</real>
			<key>y</key>
			<real>753.79864501953125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>1416.7896728515625</real>
			<key>y</key>
			<real>753.79864501953125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>1440.0618896484375</real>
			<key>y</key>
			<real>753.269775390625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>1279.8004150390625</real>
			<key>y</key>
			<real>754.85650634765625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>1306.2462158203125</real>
			<key>y</key>
			<real>767.02154541015625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>1388.2281494140625</real>
			<key>y</key>
			<real>765.9637451171875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>1345.9952392578125</real>
			<key>y</key>
			<real>762.9923095703125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>1368.7386474609375</real>
			<key>y</key>
			<real>770.39715576171875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>1326.9542236328125</real>
			<key>y</key>
			<real>775.15740966796875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>1460.2410888671875</real>
			<key>y</key>
			<real>749.7694091796875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2232.4189453125</real>
			<key>y</key>
			<real>888.933837890625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2258.233642578125</real>
			<key>y</key>
			<real>881.7056884765625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2287.66259765625</real>
			<key>y</key>
			<real>881.7056884765625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2315.026123046875</real>
			<key>y</key>
			<real>888.41754150390625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2347.552734375</real>
			<key>y</key>
			<real>886.35235595703125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2375.432861328125</real>
			<key>y</key>
			<real>883.7708740234375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2403.8291015625</real>
			<key>y</key>
			<real>887.38494873046875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2436.355712890625</real>
			<key>y</key>
			<real>886.35235595703125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2460.62158203125</real>
			<key>y</key>
			<real>882.73828125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2487.46875</real>
			<key>y</key>
			<real>876.02642822265625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2262.88037109375</real>
			<key>y</key>
			<real>899.25970458984375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2310.895751953125</real>
			<key>y</key>
			<real>922.4930419921875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2357.362548828125</real>
			<key>y</key>
			<real>916.81378173828125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2374.070068359375</real>
			<key>y</key>
			<real>920.42779541015625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2391.624267578125</real>
			<key>y</key>
			<real>930.2374267578125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2417.955322265625</real>
			<key>y</key>
			<real>907.004150390625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2393.689453125</real>
			<key>y</key>
			<real>900.80859375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2378.716796875</real>
			<key>y</key>
			<real>904.93896484375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2355.999755859375</real>
			<key>y</key>
			<real>901.32489013671875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2336.83984375</real>
			<key>y</key>
			<real>909.58563232421875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2289.85693359375</real>
			<key>y</key>
			<real>904.42266845703125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2469.52783203125</real>
			<key>y</key>
			<real>899.25970458984375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2451.45751953125</real>
			<key>y</key>
			<real>909.0693359375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2413.767822265625</real>
			<key>y</key>
			<real>919.395263671875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2427.707763671875</real>
			<key>y</key>
			<real>917.84637451171875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>6</real>
			<key>x</key>
			<real>2333.225830078125</real>
			<key>y</key>
			<real>921.97674560546875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2761.83203125</real>
			<key>y</key>
			<real>207.07972717285156</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2107.619140625</real>
			<key>y</key>
			<real>239.53762817382812</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>2038.04296875</real>
			<key>y</key>
			<real>225.52658081054688</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.6938247680664062</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2025.3011474609375</real>
			<key>y</key>
			<real>156.74531555175781</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.6808710098266602</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>2026.4398193359375</real>
			<key>y</key>
			<real>87.745124816894531</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7065129280090332</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2053.53759765625</real>
			<key>y</key>
			<real>156.90403747558594</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2108.154052734375</real>
			<key>y</key>
			<real>211.58091735839844</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>593.75</real>
			<key>y</key>
			<real>455.75</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>1298.9964599609375</real>
			<key>y</key>
			<real>475.825439453125</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>2408.456298828125</real>
			<key>y</key>
			<real>674.4813232421875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>2877.456298828125</real>
			<key>y</key>
			<real>450.4813232421875</real>
		</dict>
	</array>
</dict>
</plist>
