<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>length</key>
	<real>1024</real>
	<key>objects</key>
	<array>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>250</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>430</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>650</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>80</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>290</real>
			<key>y</key>
			<real>290</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>240</real>
			<key>y</key>
			<real>510</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>570</real>
			<key>y</key>
			<real>400</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>570</real>
			<key>y</key>
			<real>170</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>420</real>
			<key>y</key>
			<real>480</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>2</real>
			<key>x</key>
			<real>570</real>
			<key>y</key>
			<real>320</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>2</real>
			<key>x</key>
			<real>720</real>
			<key>y</key>
			<real>390</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>2</real>
			<key>x</key>
			<real>720</real>
			<key>y</key>
			<real>240</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>720</real>
			<key>y</key>
			<real>180</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>2</real>
			<key>x</key>
			<real>720</real>
			<key>y</key>
			<real>120</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>720</real>
			<key>y</key>
			<real>450</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>2</real>
			<key>x</key>
			<real>720</real>
			<key>y</key>
			<real>510</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>720</real>
			<key>y</key>
			<real>310</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>430</real>
			<key>y</key>
			<real>220</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>250</real>
			<key>y</key>
			<real>180</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>570</real>
			<key>y</key>
			<real>260</real>
		</dict>
	</array>
</dict>
</plist>
