<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>length</key>
	<real>3072</real>
	<key>objects</key>
	<array>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>597.5</real>
			<key>y</key>
			<real>68.202713012695312</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>918.10986328125</real>
			<key>y</key>
			<real>68.537544250488281</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>1228.845703125</real>
			<key>y</key>
			<real>72.0045166015625</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>1537.0126953125</real>
			<key>y</key>
			<real>72.971488952636719</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>2151.5</real>
			<key>y</key>
			<real>70.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>2460.09912109375</real>
			<key>y</key>
			<real>123.6741943359375</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>300</real>
			<key>y</key>
			<real>70</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>81.207229614257812</real>
			<key>y</key>
			<real>38.872386932373047</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.31832820177078247</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>1870.19873046875</real>
			<key>y</key>
			<real>69.010025024414062</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>283</real>
			<key>y</key>
			<real>22</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>384.5</real>
			<key>y</key>
			<real>22</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>440</real>
			<key>y</key>
			<real>10</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>495.33035278320312</real>
			<key>y</key>
			<real>21.400901794433594</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>597</real>
			<key>y</key>
			<real>23</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>699</real>
			<key>y</key>
			<real>23.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>755.5</real>
			<key>y</key>
			<real>15</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>811.71356201171875</real>
			<key>y</key>
			<real>23</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>911.71356201171875</real>
			<key>y</key>
			<real>23</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1012.2135620117188</real>
			<key>y</key>
			<real>22.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>1069.713623046875</real>
			<key>y</key>
			<real>14.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1126.213623046875</real>
			<key>y</key>
			<real>23.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1228.5</real>
			<key>y</key>
			<real>23.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1329</real>
			<key>y</key>
			<real>24</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>1382.5</real>
			<key>y</key>
			<real>14.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1437.5</real>
			<key>y</key>
			<real>23.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1538</real>
			<key>y</key>
			<real>23</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1638.5</real>
			<key>y</key>
			<real>22</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>1693</real>
			<key>y</key>
			<real>14.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.0367157459259033</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1748</real>
			<key>y</key>
			<real>16.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.12665913999080658</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1841.5</real>
			<key>y</key>
			<real>12.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>1935.5</real>
			<key>y</key>
			<real>8</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.1521763801574707</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>1988.5</real>
			<key>y</key>
			<real>17</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.4417638778686523</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2051</real>
			<key>y</key>
			<real>17</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2150.5</real>
			<key>y</key>
			<real>24</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2251.5</real>
			<key>y</key>
			<real>23.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>2306</real>
			<key>y</key>
			<real>15.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>2331.5</real>
			<key>y</key>
			<real>16</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>2372</real>
			<key>y</key>
			<real>17</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>2372.5</real>
			<key>y</key>
			<real>57</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>2413</real>
			<key>y</key>
			<real>17</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>2413.5</real>
			<key>y</key>
			<real>57.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2484.5</real>
			<key>y</key>
			<real>73.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2540</real>
			<key>y</key>
			<real>46.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2597</real>
			<key>y</key>
			<real>73.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2653</real>
			<key>y</key>
			<real>48.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2709.5</real>
			<key>y</key>
			<real>74.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2765.5</real>
			<key>y</key>
			<real>50</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2821.5</real>
			<key>y</key>
			<real>75.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2877.5</real>
			<key>y</key>
			<real>48.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.9269907474517822</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2498</real>
			<key>y</key>
			<real>31.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.3561944961547852</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2469</real>
			<key>y</key>
			<real>31.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.3561944961547852</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2582.5</real>
			<key>y</key>
			<real>31.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.9269907474517822</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2610.5</real>
			<key>y</key>
			<real>31.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.3561944961547852</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2694</real>
			<key>y</key>
			<real>31.5</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.9269907474517822</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2723</real>
			<key>y</key>
			<real>34</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.9269907474517822</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2835</real>
			<key>y</key>
			<real>33</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>2.3561944961547852</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>2809</real>
			<key>y</key>
			<real>33</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>230</real>
			<key>y</key>
			<real>10</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>305.36221313476562</real>
			<key>y</key>
			<real>264.7342529296875</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>1857.4759521484375</real>
			<key>y</key>
			<real>342.97152709960938</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>2670</real>
			<key>y</key>
			<real>450</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>2150</real>
			<key>y</key>
			<real>232.64520263671875</real>
		</dict>
	</array>
</dict>
</plist>
