<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>length</key>
	<real>1024</real>
	<key>objects</key>
	<array>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>80</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>500</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>750</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>190</real>
			<key>y</key>
			<real>370</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>230</real>
			<key>y</key>
			<real>370</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>270</real>
			<key>y</key>
			<real>370</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>190</real>
			<key>y</key>
			<real>410</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>230</real>
			<key>y</key>
			<real>410</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>270</real>
			<key>y</key>
			<real>410</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>180</real>
			<key>y</key>
			<real>480</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>280</real>
			<key>y</key>
			<real>480</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>230</real>
			<key>y</key>
			<real>530</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>200</real>
			<key>y</key>
			<real>580</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>260</real>
			<key>y</key>
			<real>580</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>220</real>
			<key>y</key>
			<real>630</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>0.0</real>
			<key>x</key>
			<real>240</real>
			<key>y</key>
			<real>630</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>220</real>
			<key>y</key>
			<real>680</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>240</real>
			<key>y</key>
			<real>680</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>230</real>
			<key>y</key>
			<real>740</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>190</real>
			<key>y</key>
			<real>180</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>230</real>
			<key>y</key>
			<real>180</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>270</real>
			<key>y</key>
			<real>180</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>190</real>
			<key>y</key>
			<real>140</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>230</real>
			<key>y</key>
			<real>140</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>270</real>
			<key>y</key>
			<real>140</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-10.995573997497559</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>180</real>
			<key>y</key>
			<real>70</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>280</real>
			<key>y</key>
			<real>70</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>230</real>
			<key>y</key>
			<real>20</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>200</real>
			<key>y</key>
			<real>-30</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>260</real>
			<key>y</key>
			<real>-30</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>360</real>
			<key>y</key>
			<real>200</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>350</real>
			<key>y</key>
			<real>130</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>370</real>
			<key>y</key>
			<real>130</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>360</real>
			<key>y</key>
			<real>60</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>350</real>
			<key>y</key>
			<real>-10</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>370</real>
			<key>y</key>
			<real>-10</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>430</real>
			<key>y</key>
			<real>210</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>430</real>
			<key>y</key>
			<real>190</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>500</real>
			<key>y</key>
			<real>200</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>570</real>
			<key>y</key>
			<real>210</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>570</real>
			<key>y</key>
			<real>190</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>640</real>
			<key>y</key>
			<real>200</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>500</real>
			<key>y</key>
			<real>300</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>630</real>
			<key>y</key>
			<real>130</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>650</real>
			<key>y</key>
			<real>130</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>640</real>
			<key>y</key>
			<real>60</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>630</real>
			<key>y</key>
			<real>-10</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>650</real>
			<key>y</key>
			<real>-10</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>230</real>
			<key>y</key>
			<real>270</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>270</real>
			<key>y</key>
			<real>270</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>190</real>
			<key>y</key>
			<real>270</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>500</real>
			<key>y</key>
			<real>370</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>590</real>
			<key>y</key>
			<real>390</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>690</real>
			<key>y</key>
			<real>390</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>790</real>
			<key>y</key>
			<real>390</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>880</real>
			<key>y</key>
			<real>370</real>
		</dict>
	</array>
</dict>
</plist>
