<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>length</key>
	<real>1024</real>
	<key>objects</key>
	<array>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>80</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>230</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>380</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>530</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>680</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-1.5707963705062866</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>40</real>
			<key>y</key>
			<real>430</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-3.1415927410125732</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>950</real>
			<key>y</key>
			<real>520</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>290</real>
			<key>y</key>
			<real>240</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>290</real>
			<key>y</key>
			<real>280</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>330</real>
			<key>y</key>
			<real>280</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>330</real>
			<key>y</key>
			<real>240</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>530</real>
			<key>y</key>
			<real>240</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>530</real>
			<key>y</key>
			<real>280</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>570</real>
			<key>y</key>
			<real>280</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>570</real>
			<key>y</key>
			<real>240</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>770</real>
			<key>y</key>
			<real>240</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>770</real>
			<key>y</key>
			<real>280</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>810</real>
			<key>y</key>
			<real>280</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>810</real>
			<key>y</key>
			<real>240</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>290</real>
			<key>y</key>
			<real>590</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>290</real>
			<key>y</key>
			<real>630</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>330</real>
			<key>y</key>
			<real>630</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>330</real>
			<key>y</key>
			<real>590</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>530</real>
			<key>y</key>
			<real>590</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>530</real>
			<key>y</key>
			<real>630</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>570</real>
			<key>y</key>
			<real>630</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>570</real>
			<key>y</key>
			<real>590</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>770</real>
			<key>y</key>
			<real>590</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>770</real>
			<key>y</key>
			<real>630</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>810</real>
			<key>y</key>
			<real>630</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>810</real>
			<key>y</key>
			<real>590</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>50</real>
			<key>y</key>
			<real>590</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>50</real>
			<key>y</key>
			<real>630</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>90</real>
			<key>y</key>
			<real>630</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>5</real>
			<key>x</key>
			<real>90</real>
			<key>y</key>
			<real>590</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>310</real>
			<key>y</key>
			<real>430</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>430</real>
			<key>y</key>
			<real>430</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>550</real>
			<key>y</key>
			<real>430</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>670</real>
			<key>y</key>
			<real>430</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>790</real>
			<key>y</key>
			<real>430</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>490</real>
			<key>y</key>
			<real>430</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>610</real>
			<key>y</key>
			<real>430</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>730</real>
			<key>y</key>
			<real>430</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>370</real>
			<key>y</key>
			<real>430</real>
		</dict>
	</array>
</dict>
</plist>
