<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>length</key>
	<real>1024</real>
	<key>objects</key>
	<array>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>80</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>290</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>450</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>610</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>770</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>260</real>
			<key>y</key>
			<real>350</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>390</real>
			<key>y</key>
			<real>350</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>510</real>
			<key>y</key>
			<real>350</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5707963705062866</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>630</real>
			<key>y</key>
			<real>350</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>-4.7123889923095703</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>1</real>
			<key>x</key>
			<real>750</real>
			<key>y</key>
			<real>350</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>260</real>
			<key>y</key>
			<real>420</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>260</real>
			<key>y</key>
			<real>280</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>390</real>
			<key>y</key>
			<real>420</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>390</real>
			<key>y</key>
			<real>280</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>510</real>
			<key>y</key>
			<real>420</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>510</real>
			<key>y</key>
			<real>280</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>630</real>
			<key>y</key>
			<real>420</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>630</real>
			<key>y</key>
			<real>280</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>750</real>
			<key>y</key>
			<real>420</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>3.1415927410125732</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>4</real>
			<key>x</key>
			<real>750</real>
			<key>y</key>
			<real>280</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>260</real>
			<key>y</key>
			<real>190</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>330</real>
			<key>y</key>
			<real>190</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>410</real>
			<key>y</key>
			<real>190</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>490</real>
			<key>y</key>
			<real>190</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>560</real>
			<key>y</key>
			<real>190</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>640</real>
			<key>y</key>
			<real>190</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>710</real>
			<key>y</key>
			<real>190</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>780</real>
			<key>y</key>
			<real>190</real>
		</dict>
	</array>
</dict>
</plist>
