<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>length</key>
	<real>1024</real>
	<key>objects</key>
	<array>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>80</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>260</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>440</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>620</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>fan</string>
			<key>power</key>
			<real>1</real>
			<key>x</key>
			<real>800</real>
			<key>y</key>
			<real>40</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>210</real>
			<key>y</key>
			<real>140</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>210</real>
			<key>y</key>
			<real>270</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>210</real>
			<key>y</key>
			<real>400</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>210</real>
			<key>y</key>
			<real>530</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>310</real>
			<key>y</key>
			<real>530</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>310</real>
			<key>y</key>
			<real>400</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>310</real>
			<key>y</key>
			<real>270</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>310</real>
			<key>y</key>
			<real>140</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>410</real>
			<key>y</key>
			<real>530</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>410</real>
			<key>y</key>
			<real>400</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>410</real>
			<key>y</key>
			<real>270</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>410</real>
			<key>y</key>
			<real>140</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>510</real>
			<key>y</key>
			<real>530</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>510</real>
			<key>y</key>
			<real>400</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>510</real>
			<key>y</key>
			<real>270</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>510</real>
			<key>y</key>
			<real>140</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>610</real>
			<key>y</key>
			<real>530</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>610</real>
			<key>y</key>
			<real>400</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>610</real>
			<key>y</key>
			<real>270</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>610</real>
			<key>y</key>
			<real>140</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>710</real>
			<key>y</key>
			<real>530</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>710</real>
			<key>y</key>
			<real>400</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>710</real>
			<key>y</key>
			<real>270</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>710</real>
			<key>y</key>
			<real>140</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>810</real>
			<key>y</key>
			<real>530</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>810</real>
			<key>y</key>
			<real>400</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>810</real>
			<key>y</key>
			<real>270</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>block</string>
			<key>type</key>
			<real>3</real>
			<key>x</key>
			<real>810</real>
			<key>y</key>
			<real>140</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>460</real>
			<key>y</key>
			<real>460</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>560</real>
			<key>y</key>
			<real>460</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>460</real>
			<key>y</key>
			<real>330</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>560</real>
			<key>y</key>
			<real>330</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>360</real>
			<key>y</key>
			<real>210</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>660</real>
			<key>y</key>
			<real>210</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>560</real>
			<key>y</key>
			<real>210</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>name</key>
			<string>coin</string>
			<key>x</key>
			<real>460</real>
			<key>y</key>
			<real>210</real>
		</dict>
	</array>
</dict>
</plist>
